* {
  box-sizing: border-box;
}

h1{
  color:rgb(230, 130, 0);
  font-weight: 1000;
  
}

h2 {
  font-weight: 700;
  display: inline;
  margin: 0;
  padding: 0;
  color: rgb(230, 130, 0);
  line-height: 3;
}

h3 {

  font-weight: 500;
  display: inline;
  color: rgb(123, 170, 207);
  line-height: 2;

}
h4 {
  font-size: x-small;
  font-weight: 100;
  display: block;
  color: rgb(123, 170, 207);
  line-height: 0.001;



}

span {
  margin: 0;
  font-size: 80%;
  text-align: left;
  font-weight: 50;
  color: rgb(123, 170, 207);
  line-height: 1.5;

  
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
/* ICONOS*/
.r1
{
	display: inline;
  width:0px;
	height:0px;
	
}
div.fixed{
  position: fixed;
  top: 10px;
  right: 50px;
  width: auto;

}
div.fixed2{
  position: fixed;
  top: 10px;
  right: 120px;
  width: auto;
}
div.fixed3{
  position: fixed;
  top: 10px;
  right: 200px;
  width: auto;
}
.r1 a
{
    width:140px;
    height:140px;
    text-decoration: none;
    
}
.signup::before
{
    content: "\f007";        /* Número de icono */
    font-family: FontAwesome;
    color: rgb(230, 130, 0);
    background-size: cover;         
    font-size: 150%;
    /* Use este método para establecer el tamaño del icono, establecer directamente el ancho y la altura no tendrá efecto */

}
.login::before
{
    content: "\f234";        /* Número de icono */
    font-family: FontAwesome;
    color: rgb(230, 130, 0);
    background-size: cover;         
    font-size: 150%;
    /* Use este método para establecer el tamaño del icono, establecer directamente el ancho y la altura no tendrá efecto */

}
.casa::before
{
    content: "\f015";        /* Número de icono */
    font-family: FontAwesome;
    color: rgb(230, 130, 0);
    background-size: cover;         
    font-size: 150%;
    /* Use este método para establecer el tamaño del icono, establecer directamente el ancho y la altura no tendrá efecto */

}

/* Style the header */
.header {
  grid-area: header;
  background-color: #003842;
  padding: 10px;
  text-align: left;
  font-size: 25px;
}

/* The grid container */
.grid-container {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left middle middle middle middle middle' 
    'footer footer footer footer footer footer';
 /*grid-column-gap: 10px; - if you want gap between the columns */
} 

.left,
.middle
 {
  padding: 10px;
  height: auto; /* Should be removed. Only for demonstration */
}

/* Style the left column */
.left {
  grid-area: left;
  background-color: #003842;
}

/* Style the middle column */
.middle {
  grid-area: middle;
  background-color: #1e8ea1;
}




/* Style the footer */
.footer {
  grid-area: footer;
  background-color: #87e7f8;
  padding: 10px;
  text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
  .grid-container  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle'  
      'footer footer footer footer footer footer';
  }
}


/*RADIOBOTONES*/
.checkRadioContainer0{

  left: 0;
  top: 0;


  z-index: -1;
}

/*LINK HOME*/
a{
  color:rgb(230, 130, 0);
  font-weight: 2000%;
  
  
}
a:link {
  text-decoration: none;
  
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}


/*
body {
  background-color: lightblue;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-image: url('/w3images/forestbridge.jpg');
  min-height: 100%;
  background-position: center;
  background-size: cover;
}





  html {
    font-size: 50pt;
  
    font-family: 'Source Sans Pro', 'Open Sans', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
  }
  body {
    background-color:navy;
  }
 
  section span {
    margin: 0;
    font-size: 300%;
    text-align: left;
    line-height: 1;
    padding-top: calc(12.5vh - 20pt);

    font-weight: 1000;
    color: rgb(187, 83, 14);
    font-style:oblique;
    font-family:cursive
    
  }
span {
    margin: 0;
    font-size: 80%;
    text-align: left;
    font-weight: 50;
    color: rgb(123, 170, 207);

    
  }

  header h1 {
    font-weight: 600;
    display: inline;
    margin: 0;
    padding: 0;
    font-size: inherit;
    color: rgb(123, 170, 207);
  }
  header h2 {
    font-weight: 300;
    display: inline;
    margin: 0;
    padding: 0;
    color: rgb(123, 170, 207);

  }
  header h3 {
    font-weight: 200;
    display: inline;

    color: rgb(123, 170, 207);

  }
*/





 