<!--


<!DOCTYPE html>
<html>

<head>

</head>

<body>
  <section>
    <span>InmoEnergy</span>
  </section>
  <h1>My First CSS Example</h1>
  <p>This is a paragraph.</p>

</body>

</html>





<head>

</head>

<body>


</body>
<section>
  <span>InmoEnergy</span>
</section>



<div class="filters">
  <h2>Filtros</h2>
  
  <div class="checkRadioContainer0">
    <label>
      <input type="radio" name="arrcom" />
      <span class="label-text">Arriendo</span>
    </label><br>

    <label>
      <input type="radio" name="arrcom" />
      <span class="label-text">Compra</span>
    </label><br>
  </div>
  <h3>Ciudad</h3>
  <div class="checkRadioContainer1">

    <label>
      <input type="radio" name="ciudad" />
      <span class="label-text">Bogotá</span>
    </label><br>

    <label>
      <input type="radio" name="ciudad" />
      <span class="label-text">Barranquilla</span>
    </label><br>

    <label>
      <input type="radio" name="ciudad" />
      <span class="label-text">Cali</span>
    </label><br>

    <label>
      <input type="radio" name="ciudad" />
      <span class="label-text">Medellin</span>
    </label><br>
  </div>
  <h3>Tipo</h3>
  <div class="checkRadioContainer2">
    <label>
      <input type="radio" name="tipo" />
      <span class="label-text">Apartamento</span>
    </label><br>

    <label>
      <input type="radio" name="Tipo" />
      <span class="label-text">Casa</span>
    </label><br>
  </div>
  <h3>Precio</h3>
  <div class="checkRadioContainer3">
    <label>
      <input type="radio" name="precio" />
      <span class="label-text">$ 600 000- $ 800 000</span>
    </label><br>
    <label>
      <input type="radio" name="precio" />
      <span class="label-text">$ 800 000- $ 1 500 000</span>
    </label><br>
    <label>
      <input type="radio" name="precio" />
      <span class="label-text">$ 1 500 000- $ 2 800 000</span>
    </label><br>
    <label>
      <input type="radio" name="precio" />
      <span class="label-text">$ 2 000 000- $ 3 000 000</span>
    </label><br>

    
  </div>




</div>
<router-outlet></router-outlet>
-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href='https://fonts.googleapis.com/css?family=Lato:400,600,300;Roboto+Condensed:400,700' rel='stylesheet'
  type='text/css'>
<script type='text/javascript' src='https://code.jquery.com/jquery-1.10.2.min.js'></script>
<div class="grid-container">

  <div class="header">
    <h1><a href="">InmoEnergy</a></h1>

    <!--icono de ingreso-->
    <div class="r1">
      <div class="fixed">
        <a href="ingresar-usuario" class="signup"></a><br>
        <h4 style="font-style: normal"> Ingresar </h4>
      </div>
    </div>
    <div class="r1">
      <div class="fixed2">
        <a href="registrar-usuario" class="login"></a>
        <h4 style="font-style: normal"> Registrar </h4>
      </div>
    </div>
    <div class="r1">
      <div class="fixed3">
        <a href="/consultaCasas" class="casa"></a>
        <h4 style="font-style: normal"> Casas </h4>
      </div>
    <br></div>

    <!--icono de Registro-->

  </div>






</div>
<router-outlet></router-outlet>